<%= content_for :extern_css do %>
    <link rel="stylesheet" href="/css/index.css">
<% end %>

<header>
    <nav>
        <ul>
            <li>
                <a>
                    <img src="/images/logo/logo.svg">
                </a>
            </li>
            <li>
                <a>
                    Compte Pro
                </a>
            </li>
            <li>
                <a>
                    Services
                </a>
            </li>
            <li>
                <a>
                    Vie d'entrepreneur
                </a>
            </li>
            <li>
                <a>
                    Dans ma région
                </a>
            </li>
            <li>
                <a>
                    Tarifs
                </a>
            </li>
        </ul>
        <div class="auth">
            <a>Se connecter</a>
            <a>Ouvrir un compte pro</a>
        </div>
    </nav>
</header>

<main>
    <section class="standard-content">
        <div class="standard">
            <div class="left">
                <h1>Le compte pro qui vous donne les moyens de réussir</h1>
                <p>Propulse du Crédit Agricole, une solution complète accompagnant les entrepreneurs indépendants dans la réussite de leur activité professionnelle</p>
                <ul class="points">
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Un accompagnement à la création d’entreprise</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Un compte pro 100% en ligne + une carte de paiement</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Des outils de gestion pour piloter votre activité</p>
                    </li>
                </ul>
                <div class="links">
                    <a>Ouvrir un compte</a>
                    <a>Découvrir les offres</a>
                </div>
            </div>
            <div class="right"> 
                <img src="/images/home/standard.avif">
            </div>
        </div>
    </section>

    <section class="benefice-content">
        <div class="benefices">
            <div class="benefice">
                <div class="benefice-image">
                    <img src="/images/home/rocket.png">
                </div>
                <div class="benefice-text">
                    <h3>Création d’entreprise</h3>
                    <p>Des services pour créer son entreprise : outil de Business Plan en ligne, étude de marché.</p>
                </div>
            </div>
            <div class="benefice">
                <div class="benefice-image">
                    <img src="/images/home/card.png">
                </div>
                <div class="benefice-text">
                    <h3>Compte pro et carte de paiement</h3>
                    <p>Votre compte pro 100% en ligne du Crédit Agricole, ouvert en 5 minutes chrono.</p>
                </div>
            </div>
            <div class="benefice">
                <div class="benefice-image">
                    <img src="/images/home/budget.png">
                </div>
                <div class="benefice-text">
                    <h3>Outils de gestion</h3>
                    <p>Des outils pour simplifier votre gestion : devis et facture, note de frais, déclaration URSSAF...</p>
                </div>
            </div>
        </div>
    </section>

    <section class="standard-content">
        <div class="standard iphone">
            <div class="left">
                <img src="/images/home/iphone.avif">
            </div>
            <div class="right"> 
                <h1><span>Propulse</span> du Crédit Agricole,Votre compte pro en moins de 5 min</h1>
                <p>C’est simple, tout se fait en ligne, de l’ouverture à la gestion du compte, le tout, sans engagement.<br><br>

                    Profitez d’une carte de paiement internationale Visa Business à débit immédiat à partir de 8€ HT/ mois et d'un compte de paiement pro en ligne tenu par Okali, filiale du Crédit Agricole.
                </p>
                <a>Ouvrir un compte pro en ligne</a>
            </div>
        </div>
    </section>

    <section class="standard-content">
        <div class="standard">
            <div class="left">
                <h1>Un accompagnement complet à la création d’entreprise</h1>
                <p>Tous les services qui vous permettent de réussir votre création d’entreprise dans les meilleures conditions</p>
                <ul class="points">
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Des milliers d’articles gratuits pour créer son entreprise</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Un outil de Business Plan en ligne</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Des services d’accompagnement à la création d’entreprise</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Un listing de toutes les aides à la création et partenaires locaux</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Des évenements pour créateur dans toute la France</p>
                    </li>
                </ul>
                <div class="links woman">
                    <a>Nos services d'aide à la création</a>
                </div>
            </div>
            <div class="right"> 
                <img src="/images/home/woman.avif">
            </div>
        </div>
    </section>

    <section class="primary">
        <h1>Propulse à vos côtés pour faciliter votre activité</h1>
        <div class="service-content">
            <div class="services">
                <div class="service">
                    <div class="service-image">
                        <img src="/images/home/parapluie.png">
                    </div>
                    <h1>Assurance en cas de pépins</h1>
                    <p>Une garantie maintien de revenus, ainsi qu’une assurance livraison et panne matériel incluses dans la carte Start+</p>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="/images/home/contact.png">
                    </div>
                    <h1>Service client 7j/7</h1>
                    <p>Notre support est tout le temps ouvert, même le dimanche, pour répondre à vos questions.</p>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="/images/home/c.png">
                    </div>
                    <h1>Assistance administrative</h1>
                    <p>Nos experts juridiques, comptables et fiscaux répondent à vos questions par téléphone 5j/7 (carte Start+)</p>
                </div>
            </div>
        </div>
    </section>

    <section class="standard-content">
        <div class="standard entrepreneurs">
            <div class="left">
                <h1>Pour tous les entrepreneurs indépendants</h1>
                <p>Que vous soyez créateurs d’entreprises, micro-entrepreneurs, indépendants, etc. nos offres sont faites pour vous accompagner au mieux quotidiennement.</p>
            </div>
            <div class="right"> 
                <img src="/images/home/entrepreneurs.avif">
            </div>
        </div>
    </section>

    <section class="standard-content">
        <div class="standard facture">
            <div class="left">
                <h1>Des services de gestion intégrés au Compte pro</h1>
                <p>Des services pour faciliter la gestion de votre activité, accessibles sur mobile ou sur ordinateur.</p>
                <ul class="points">
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Agrégation de comptes</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Création de devis et factures</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Gestion des notes de frais</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Export comptable</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Télédéclaration / précalcul / paiement automatisé de l’URSSAF</p>
                    </li>
                </ul>
                <div class="links woman">
                    <a>Ouvrir un compte</a>
                </div>
            </div>
            <div class="right"> 
                <img src="/images/home/facture.avif">
            </div>
        </div>
    </section>

    <section class="primary">
        <h1>Bien plus qu'un compte pro</h1>
        <p class="primary-p">Propulse, c'est un écosystème de services pour les entrepreneurs. Nous vous accompagnons du lancement de votre entreprise jusqu'au développement de l'activité.</p>
        <div class="service-content">
            <div class="primary-content">
                <div class="services-p">
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Création d'entreprise</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Outil de Business Plan</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Blog pour entrepreneur</h1>
                    </div>
                </div>
                <div class="services-p">
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Coaching</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Etude de marché</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Communauté</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Carte de paiement</h1>
                    </div>
                </div>
                <div class="services-p">
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Facture et devis</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Assurances</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Déclaration URSSAF</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Compte Pro</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="standard-content">
        <div class="standard avis">
            <div class="left">
                <h1><span>150 000 entrepreneurs</span> utilisent nos services de création d’entreprise</h1>  
                <img src="/images/home/avis.png">
                <div class="tooltip">
                    Avis soumis à un contrôle
                    <div class="right">
                        <img src="cssttp/tooltip-head.jpg" />
                        <div class="text-content">
                            <h3>Fade in Effect</h3>
                            <ul>
                                <li>This demo has fade in/out effect.</li>
                                <li>It is using CSS opacity, visibility, and transition property to toggle the tooltip.</li>
                                <li>Other demos are using display property<em>(none or block)</em> for the toggle.</li>
                            </ul>
                        </div>
                        <i></i>
                    </div>
                </div>
            </div>
            <div class="right"> 
                <div class="ratings">
                    <div class="rating">
                        <div class="head">
                            <div class="stars">
                                <img src="/images/home/star.svg" class="star">
                                <img src="/images/home/star.svg" class="star">
                                <img src="/images/home/star.svg" class="star">
                                <img src="/images/home/star.svg" class="star">
                                <img src="/images/home/star.svg" class="star">
                                <h1>5/5</h1>
                            </div>
                            <div class="buttons">
                                <div>
                                    <img src="/images/home/left.png">
                                </div>
                                <div>
                                    <img src="/images/home/right.png">
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <p>Gratuit et efficace. Cela m'a permit de commencer en toute tranquillité mon business plan.</p>
                        </div>
                        <div class="bottom">
                            <p>Emma Gero Kanfany</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="standard-content besoin">
        <div class="standard facture">
            <div class="left">
                <h1>Besoin de plus d’accompagnement ?</h1>
                <ul class="points">
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Ouvrir un compte bancaire pro avec conseiller dédié</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Obtenir un financement</p>
                    </li>
                    <li class="point">
                        <div class="point-image">
                            <img src="/images/home/check.png">
                        </div>
                        <p>Découvrir les solutions de paiement</p>
                    </li>
                </ul>
                <div class="links woman">
                    <a>Prendre contact avec une agence crédit agricole</a>
                </div>
            </div>
            <div class="right"> 
                <img src="/images/home/besoin.avif">
            </div>
        </div>
    </section>

    <section class="primary white">
        <h1 class="title-p">Des milliers d’articles pour vous aider dans votre vie d’entrepreneur</h1>
        <p class="primary-p">Propulse du Crédit Agricole, c’est aussi des milliers d’articles rédigés sous forme de guides par des experts de l'entrepreneuriat, des comptables ou des juristes. L’objectif : vous fournir une information complète, claire et gratuite quelle que soit l’étape de votre parcours entrepreneurial.</p>
        <div class="service-content">
            <div class="primary-content">
                <div class="services-p">
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Création d'entreprise</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Outil de Business Plan</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Blog pour entrepreneur</h1>
                    </div>
                </div>
                <div class="services-p">
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Coaching</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Etude de marché</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Communauté</h1>
                    </div>
                    <div class="service-p">
                        <div class="service-image">
                            <img src="/images/home/parapluie.png">
                        </div>
                        <h1>Carte de paiement</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="guides">
        <div class="guide-head">
            <div>
                <h1>Nos guides pratiques</h1>
                <p class="guide-p">Découvrez nos guides pratiques pour lancer ou développer votre projet d’entreprise.</p>
            </div>
        </div>
        <div class="guide-content">
        </div>
    </section>
</main>

<footer>
    <div class="footer-top">
        <div>
            <img src="/images/logo/logo.svg">
        <div>
        <div>
            <img src="/images/logo/logo.svg">
        <div>
        <div>
            <img src="/images/logo/logo.svg">
        <div>
        <div>
            <img src="/images/logo/logo.svg">
        <div>
    </div>
</footer>